doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(type="module" src="/js/addArt.js")
		style 
			include ../styles/form.css
			include ../styles/header.css
		title Post Artwork
		
	
	body
		include ../partials/header
		div(class="container")
			h1 Upload Your ArtWork

			p Enter data into the text box form below and hit Submit to post artworks on your account.

			p Name:
				input#name(type="textbox")
			p Artist:
				input#artist(type="textbox")
			p Year:
				input#year(type="textbox")
			p Category:
				input#category(type="textbox")
			p Medium:
				input#medium(type="textbox")
			p Description: 
				textarea#description(name="", cols="30", rows="10")
			p Image (Please Type AN URL)
				input#image(type="textbox")
			button#submit(type="submit") Submit

		